.box{
	background: #f1f1f1;
    border: 1px solid #dcdcdc;
    cursor:pointer;
}
.box:hover{
	background: #f8f8f8;
}

.box:active{
	background: #e2e2e2;
}
.box.clear{
background: #ffffff;
}

.box.start{
background: #7ed321;
}

.box.end{
background: #639530;
}

.box.path{
	background: #f5a623;
}